/* Стили для таблиц */
.vp-doc table {
  display: block;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.vp-doc th {
  border: none;
  font-size: 1rem;
}

.vp-doc td {
  border: none;
}

/* При необходимости можно сделать индикатор прокрутки для таблиц */
.vp-doc table::after {
  content: "⟷ Scroll horizontally ⟷";
  display: block;
  text-align: center;
  font-size: 0.8rem;
  color: #999;
  padding: 0.5rem 0;
  /* Показываем только если есть горизонтальная прокрутка */
  display: none;
}

.vp-doc table::-webkit-scrollbar {
  height: 8px;
}

.vp-doc table::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
