/*
 * CSS Variables for VitePress theme customization
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors: Base
 * -------------------------------------------------------------------------- */

:root {
  /* --vp-c-main-1: #444444;
  --vp-c-main-2: #222222;
  --vp-c-main-3: #000000;
  --vp-c-main-soft: rgba(2, 9, 27, 0.14);

  --vp-c-indigo-bg: #f1effd;
  --vp-c-indigo-border: #d9d1fa;

  --vp-c-blue-bg: #edf8fe;
  --vp-c-blue-border: #c4d9fa;

  --vp-c-yellow-bg: #fdf5d5;
  --vp-c-yellow-border: #f9e2a4;

  --vp-c-green-bg: #e6faee;
  --vp-c-green-border: #bff0d0;

  --vp-c-gray-bg: #fdfdfe;
  --vp-c-gray-border: #d2d8e0; */

  --vp-hl-color: #994a11;
}

.dark {
  /* --vp-c-main-1: #bbbbbb;
  --vp-c-main-2: #dddddd;
  --vp-c-main-3: #ffffff;
  --vp-c-main-soft: rgba(252, 253, 255, 0.14);

  --vp-c-indigo-bg: #241257;
  --vp-c-blue-bg: #1b2966;
  --vp-c-yellow-bg: #45251e;
  --vp-c-green-bg: #1a3a2d;
  --vp-c-gray-bg: #191b1f;

  --vp-c-indigo-border: #743ee4;
  --vp-c-blue-border: #3662e3;
  --vp-c-yellow-border: #b16b2a;
  --vp-c-green-border: #479f5d;
  --vp-c-gray-border: #303b4e; */

  --vp-hl-color: #ffb36b;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-text: var(--vp-c-neutral-inverse);
  --vp-button-brand-bg: var(--vp-hl-color);
  --vp-button-brand-border: var(--vp-hl-color);
  --vp-button-brand-hover-text: var(--vp-c-neutral-inverse);
  --vp-button-brand-hover-bg: color-mix(in srgb, var(--vp-hl-color) 85%, var(--vp-c-black) 15%);
  --vp-button-brand-hover-border: color-mix(in srgb, var(--vp-hl-color) 85%, var(--vp-c-black) 15%);
  --vp-button-brand-active-text: var(--vp-c-neutral-inverse);
  --vp-button-brand-active-bg: color-mix(in srgb, var(--vp-hl-color) 70%, var(--vp-c-black) 30%);
  --vp-button-brand-active-border: color-mix(in srgb, var(--vp-hl-color) 70%, var(--vp-c-black) 30%);

  /* New styles for alt buttons */
  --vp-button-alt-border: var(--vp-hl-color);
  --vp-button-alt-text: var(--vp-hl-color);
  --vp-button-alt-bg: transparent;
  --vp-button-alt-hover-border: var(--vp-hl-color);
  --vp-button-alt-hover-text: var(--vp-c-neutral-inverse);
  --vp-button-alt-hover-bg: var(--vp-hl-color);
  --vp-button-alt-active-border: var(--vp-hl-color);
  --vp-button-alt-active-text: var(--vp-c-neutral-inverse);
  --vp-button-alt-active-bg: color-mix(in srgb, var(--vp-hl-color) 85%, var(--vp-c-black) 15%);
}

/**
 * Component: Custom block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-info-border: var(--vp-c-gray-border);
  --vp-custom-block-note-border: var(--vp-c-green-2);
  --vp-custom-block-tip-border: var(--vp-c-purple-2);
  --vp-custom-block-warning-border: var(--vp-c-yellow-2);
  --vp-custom-block-important-border: var(--vp-c-indigo-2);
  --vp-custom-block-danger-border: var(--vp-c-red-2);
  --vp-custom-block-caution-border: var(--vp-c-gray-2);

  --vp-badge-info-bg: var(--vp-custom-block-note-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(90deg, #994a11 0%, #cc833c 50%, #ffbb66 100%);
}

/**
 * Component: Layout
 * -------------------------------------------------------------------------- */

:root {
  --vp-layout-max-width: 100%;
}
