/*
 Раскоммтировать ниже для отображения всех контейнеров
 */
/* * {
  outline: 1px solid red !important; 
} */

/* Remove underline from all VPButtons */
.VPButton {
  text-decoration: none !important;
}

:root h2 {
  border-top: none;
}

/* Highlight color for both light and dark themes */
.hl {
  color: var(--vp-hl-color);
  font-weight: bold;
}

.dark-only,
.dark .light-only {
  display: none;
}

.light-only,
.dark .dark-only {
  display: inline-block;
}

/* Стили для blockquote */
.vp-doc blockquote {
  border-left: 3px solid var(--vp-hl-color) !important;
  color: inherit;
}

.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}

/* Базовое предотвращение горизонтальной прокрутки сайта */
html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

/* Навигация и основные контейнеры */
#app,
.VPNav,
.VPNavBar,
.VPContent {
  max-width: 100vw;
}

/* Стили для блока с кодом */
/* code {
  color: var(--vp-hl-color) !important;
} */

/* :root {
  --vp-home-hero-image-background-image: none;
  --vp-home-hero-image-filter: none;
} */

/* .hl {
  color: #ae6040;
  font-weight: bold;
} */

/* .link-text {
  color: var(--vp-c-brand-1);
  text-decoration: underline;
} */
